@model IEnumerable<xxx课程教学网站.Models.T_Student>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Teacher/Views/Shared/Teacher_Layout.cshtml";
}

<h2>@Session["file_type"] 导入</h2>



<form action="@Url.Action("ImportStu", "T_Student")" enctype="multipart/form-data" method="post">


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Session["file_type"] 导入</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">文件名：</label>
            <div class="col-md-10">
                <input type="text" id="textfield" class="txt" style="vertical-align:top" />
                <a class="file">
                    <span>浏览</span>
                    <input type="file" id="file_addr" name="file_addr" onchange="document.getElementById('textfield').value=this.files[0].name" />
                </a>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="导入" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group" style="display:none">

            <div class="col-md-10">
                <input type="text" id="file_type" name="file_type" value="@Session["file_type"]" />

            </div>
        </div>


    </div>
</form>
<br />
<br />

<p>
    @Html.ActionLink("点击添加单个学生", "Create", "", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Import", "T_Student", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label>学号</label>
                <input type="text" name="stu_id" />
            </div>
            <div class="col-md-4">
                <label>姓名</label>
                <input type="text" name="stu_name" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="查询" class="btn btn-primary" />
            </div>

        </div>

    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stu_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.psw)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stu_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stu_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.psw)
            </td>
            <td>
                <form action="@Url.Action("ResetPSW", "T_Student")" method="post">
                    <input type="text" value="@item.stu_id" name="stu_id" style="visibility:hidden" />
                    <input type="submit" value="重置密码" class="btn btn-primary" />
                </form>
            </td>
            <td>
                @Html.ActionLink("删除", "Delete", new { id = item.stu_id }, new { @class = "btn btn-primary" })

        </tr>
    }

</table>

