@model IEnumerable<xxx课程教学网站.Models.T_Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/Teacher_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stu_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.psw)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.psw)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.stu_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.stu_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.stu_id })

        </td>
    </tr>
}

</table>
